{% extends 'ui/base.html' %} {% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="section">

        Welcome to United for Iran database. 
            <!-- <a href="{% url 'api:root' %}">api:root</a>
            <br>
            <br>
            <a href="{% url 'ui:dashboard:judge_list' %}">ui:dashboard:judge_list</a>
            <br>
            <a href="{% url 'ui:dashboard:new_judge' %}">ui:dashboard:new_judge</a>
            <br>
            <a href="{% url 'ui:dashboard:judge_detail'  pk=1 %}">ui:dashboard:judge_detail(pk=1)</a>
            <br>
            <br>
            <a href="{% url 'ui:dashboard:prison_list' %}">ui:dashboard:prison_list</a>
            <br>
            <a href="{% url 'ui:dashboard:new_prison' %}">ui:dashboard:new_prison</a>
            <br>
            <a href="{% url 'ui:dashboard:prison_detail' pk=1 %}">ui:dashboard:prison_detail(pk=1)</a>
            <br>
            <br>
            <a href="{% url 'ui:dashboard:prisoner_list' %}">ui:dashboard:prisoner_list</a>
            <br>
            <a href="{% url 'ui:dashboard:new_prisoner' %}">ui:dashboard:new_prisoner</a>
            <br>
            <a href="{% url 'ui:dashboard:prisoner_detail' pk=1 %}">ui:dashboard:prisoner_detail(pk=1)</a>
            <br>
            <br>
            <a href="{% url 'ui:dashboard:search_results' %}?q=qom">ui:dashboard:search_results(q=qom)</a>
            <br>
            <br>
            <a href="{% url 'ui:users:login' %}">ui:users:login</a>
            <br>
            <a href="{% url 'ui:users:logout' %}">ui:users:logout</a>
            <br>
            <a href="{% url 'ui:users:password_change' %}">ui:users:password_change</a>
            <br>
            <a href="{% url 'ui:users:password_change_done' %}">ui:users:password_change_done</a>
            <br> -->
        </div>
    </div>
</div>
{% endblock %}
