<span class="facility gym">
<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg class="facility " version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 54.1 27.5" style="enable-background:new 0 0 54.1 27.5;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#30A6C1;}
	.st1{fill:none;stroke:#30A6C1;stroke-width:3.0803;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:#30A6C1;stroke:#30A6C1;stroke-width:2.0535;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#30A6C1;stroke-width:2.0535;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#30A6C1;}
</style>
<g class="gym" >
	<line  class="st1 stroke" x1="1.5" y1="13.8" x2="52.6" y2="13.8"/>
	<g>
		<rect  x="3.8" y="4.4" class="st2 stroke" width="5.5" height="18.7"/>
		<rect x="12.7" y="1" class="st2 stroke" width="8" height="25.5"/>
		<rect x="44.8" y="4.4" class="st2 stroke" width="5.5" height="18.7"/>
		<rect x="33.4" y="1" class="st2 stroke" width="7.9" height="25.5"/>
	</g>
</g>
</svg>

</span>
